/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

// ============================================================
// Constants and Mixins
// ============================================================

@white: #FFFFFF;
@whiteFaded: fadeout(@white, 14%);

@black: #000000;
@dark: #333333;
@darkFaded: fadeout(@dark, 14%);

@light: #EEEEEE;

@red: #E74C3C;
@blue: #023E73;
@green: #2EB85C;
@yellow: #FFF69D;

@fbBlue: #3b5998;
@plusRed: #dc4e41;

@textPrimary: @darkFaded;
@textPrimaryHover: @dark;
// @textSecondary: @blackFaded;

@textPrimaryI: @whiteFaded;
@textPrimaryHoverI: @white;
// @textSecondaryI: @whiteFaded;

@bgLight: @light;

@xs: 4px;
@s: 6px;
@m: 10px;
@l: 20px;
@xl: 30px;
@xxl: 40px;

// @pageMaxWidth: 1280px;
// @sliderHeight: 600px;
// @coverImageHeight: 400px;
@iconSize: @xxl;
// @mapHeight: 400px;
// @sidebarWidth: 260px;

@duration: .3s;

.FlexBox() {
  // display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.FlexFlow(@direction: row, @wrap: wrap) {
  -webkit-flex-flow: @arguments;
  -ms-flex-flow: @arguments;
  flex-flow: @arguments;
}

.Flex(@grow: 0, @shrink: 1, @basis: 0) {
  -webkit-flex: @arguments;
  -ms-flex: @arguments;
  flex: @arguments;
}

.JustifyContent(@how) {
  -webkit-justify-content: @how;
  -ms-justify-content: @how;
  justify-content: @how;
}

.AlignItems(@how) {
  -webkit-align-items: @how;
  -ms-align-items: @how;
  align-items: @how;
}

.Transition(@property: all, @duration: @duration) {
    -webkit-transition: @arguments;
    transition: @arguments;
}

.Translate(@x: 0, @y: 0) {
  -ms-transform: translateX(@x) translateX(@y);
  -webkit-transform: translateX(@x) translateX(@y);
  transform: translateX(@x) translateX(@y);
}

.Rotate(@value) {
  -ms-transform: rotate(@value);
  -webkit-transform: rotate(@value);
  transform: rotate(@value);
}

.Arrow(@size) {
    display: inline-block;
    content: '';
    border-color: transparent;
    border-width: @size;
    border-style: solid;
    .Transition(border);
}

.ArrowUp(@size, @color: transparent) {
  .Arrow(@size);
  border-top-width: 0;
  border-bottom-color: @color;
}

.ArrowDown(@size, @color) {
  .Arrow(@size);
  border-bottom-width: 0;
  border-top-color: @color;
}

// .Icon() {
//   display: inline-block;
//   font-family: 'Font Awesome';
//   font-weight: normal;
//   // font-size: @big;
//   // width: @iconSize;
//   // height: @iconSize;
//   // line-height: @iconSize;
//   text-align: center;
// }

// .Button(@bg: @white, @color: inherit) {
//   padding: @medium @big;
//   color: @color;
//   background: @bg;
//   border: none;
//   // border-bottom: 1px solid darken(@bg, 15%);
//   cursor: pointer;
//   text-decoration: none;
//   .Transition;

//   &:hover {
//     background-color: lighten(@bg, 6%);
//     // border-bottom: 1px solid @bg;
//   }

//   &:active {
//     background-color: lighten(@bg, 10%);
//   }
// }

// ============================================================
// Fonts
// ============================================================

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

// @font-face {
//   font-family: 'Font Awesome';
//   src:url('fonts/font-awesome/fonts/fontawesome-webfont.eot');
//   src:
//     url('fonts/font-awesome/fonts/fontawesome-webfont.woff') format('woff'),
//     url('fonts/font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'),
//     url('fonts/font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'),
//     url('fonts/font-awesome/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
//     // url('fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
//   font-weight: normal;
//   font-style: normal;
// }

// ============================================================
// Base styles: opinionated defaults
// ============================================================

html {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
  color: @textPrimary;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

// hr {
//     display: block;
//     height: 1px;
//     border: 0;
//     border-top: 1px solid #ccc;
//     margin: 1em 0;
//     padding: 0;
// }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

// ============================================================
// Browser Upgrade Prompt
// ============================================================

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// ============================================================
// General Rules
// ============================================================

body {
  // background: @bgLight;
  // background: @black;
  overflow-x: hidden;
} // body

h1 {
  font-size: 2em;
  margin: 1em 0 0.5em 0;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

p {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: inherit;
  .Transition;
  border-bottom: 1px solid transparent;
  padding-bottom: 1px;
  &:hover {
    color: @red;
    border-bottom-color: @red;
  }
} // a

button {
  // font-size: 1em; 
  background: none;
  border: none;
}

// ============================================================
// Main Header
// ============================================================

@mainHeaderBg: @red;
@mainHeaderHeight: @xxl;
@drawerBg: @dark;
@drawerWidth: 280px;

#main-header {
  .FlexBox;
  .JustifyContent(space-between);
  height: @mainHeaderHeight;
  color: @textPrimaryI;
  background-color: @mainHeaderBg;

  button {
    display: block;
    position: relative;
    color: @textPrimaryI;
    width: @mainHeaderHeight;
    height: @mainHeaderHeight;
    font-size: 0;
  }

  .drawer-container {
    .Flex(1);
    .FlexBox;

    #drawer-toggle {
      span {
        display: block;
        position: absolute;
        top: 19px;
        left: @m;
        right: @m;
        height: 2px;
        background: @textPrimaryI;
        .Transition;
        &:before,
        &:after {
          display: block;
          position: absolute;
          right: 0;
          width: 100%;
          height: 2px;
          background: @textPrimaryI;
          content: '';
          .Transition;
        }
        &:before {
          top: -6px;
          transform-origin: top right;
        }
        &:after {
          bottom: -6px;
          transform-origin: bottom right;
        }
      } // span
      &.clicked span {
        .Rotate(180deg);
        &:before,
        &:after {
          width: 50%;
        }
        &:before {
          transform: translateY(6px) rotate(45deg);
        }
        &:after {
          transform: translateY(-6px) rotate(-45deg);
        }
      } // .clicked span
      &:hover span {
        background: @textPrimaryHoverI;
        &:before,
        &:after {
          background: @textPrimaryHoverI;
        }
      }
    } // #drawer-toggle

    #drawer {
      position: fixed;
      top: @mainHeaderHeight;
      left: -@drawerWidth;
      width: @drawerWidth;
      background: @drawerBg;
      bottom: 0;
      z-index: 1;
      visibility: hidden;
      .Transition;
      overflow-y: scroll;
      &.visible {
        left: 0;
        visibility: visible;
      }

      #main-menu {
          .menu {
            margin: 0;
            padding: 0;
            list-style-type: none;
            & > .menu-item > a {
              display: block;
              padding: @m @l;
              border: none;
              &:hover {
                color: @textPrimaryHoverI;
                background: fadeout(@white, 94%);
              }
            }
          } // .menu
        } // #main-menu

    } // #drawer

    .drawer-overlay {
      display: none;
      position: fixed;
      top: @mainHeaderHeight;
      left: 0;
      right: 0;
      bottom: 0;
      background: fadeout(@dark, 30%);
      cursor: pointer;
    }
  } // .drawer-container

  .main-logo-container {
    .FlexBox;
    padding: (@mainHeaderHeight - @l) / 2;
    border: none;
    .main-logo {
      svg {
        display: block;
        width: auto;
        height: @l;
        path {
          .Transition(fill);
          fill: @textPrimaryI;
        }
      }
    } // .main-logo
    .main-title {
      font-size: @l;
      line-height: @l;
      margin: 0 0 0 @s;
      text-transform: lowercase;
    } // .main-title
    &:hover {
      color: @textPrimaryHoverI;
      .main-logo svg path {
        fill: @textPrimaryHoverI;
      }
    }
  } // .main-logo-container

  .search-form-container {
    .Flex(1);
    .FlexBox;
    .FlexFlow(row-reverse);
    overflow-x: hidden;

    #search-form-toggle {
      z-index: 1;
      &:before,
      &:after {
        display: block;
        position: absolute;
        content: '';
        box-sizing: border-box;
        .Transition;
      }
      &:before {
        top: @m;
        left: @m;
        width: 16px;
        height: 16px;
        border: 2px solid @textPrimaryI;
        border-radius: 50%;
        .Rotate(-45deg);
      }
      &:after {
        right: @m;
        bottom: @m;
        width: @m;
        border: 1px solid @textPrimaryI;
        transform-origin: right;
        .Rotate(45deg);
      }
      &.clicked {
        &:before,
        &:after {
          width: @l;
        }
        &:before {
          height: 0;
          border-radius: 0;
          border-width: 1px;
          top: 19px;
        }
        &:after {
          transform-origin: center;
          bottom: 19px;
        }
      } // .clicked
      &:hover {
        &:before,
        &:after {
          border-color: @textPrimaryHoverI;
        }
      }
    } // #search-form-toggle

    .search-form {
      position: absolute;
      left: 100%;
      right: @mainHeaderHeight;
      // visibility: hidden;
      .Transition;
      input[type=search] {
        border: none;
        width: 100%;
        box-sizing: border-box;
        line-height: @mainHeaderHeight;
        padding: 0 0 0 @m;
        font-size: 1.25em;
        background: @red;
      }
      input[type=submit] {
        display: none;
      }
      &.visible {
        left: @mainHeaderHeight;
        // visibility: visible;
      }
    } // .search-form
  }


} // #main-header

// ============================================================
// Main, page, primary
// ============================================================



// ============================================================
// Post
// ============================================================

@coverImageHeight: 200px;

.post {
  .entry-header {
    .cover-image {
      display: block;
      height: @coverImageHeight;
      background-size: cover;
      background-position: center;
    } // .cover-image
    .entry-title {
      padding: 0 @l;
    } // .entry-title
  } // .entry-header
  .entry-content {
    padding: 0 @l;
  } // .entry-content
  .entry-footer {
    padding: 0 @l;
    background: @bgLight;
  } // .entry-footer
} // .post

// ============================================================
// Helper classes
// ============================================================

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}