/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

// ============================================================
// Constants and Mixins
// ============================================================

@white: #FFFFFF;
@black: #333333;
@red: #E74C3C;
// @blue: #023E73;
@green: #2EB85C;

@tiny: 4px;
@small: 6px;
@medium: 10px;
@big: 20px;
@huge: 30px;

@pageMaxWidth: 1280px;

@coverImageHeight: 400px;
@iconSize: 40px;
// @mapHeight: 400px;
@sidebarWidth: 260px;

@duration: .3s;

.Transition(@property: all, @duration: @duration) {
    -webkit-transition: @property @duration;
    transition: @property @duration;
}

.Rotate(@value) {
  -ms-transform: rotate(@value);
  -webkit-transform: rotate(@value);
  transform: rotate(@value);
}

.Arrow(@size) {
    display: inline-block;
    content: '';
    border-color: transparent;
    border-width: @size;
    border-style: solid;
}

.ArrowDown(@size, @color) {
  .Arrow(@size);
  border-bottom-width: 0;
  border-top-color: @color;
}

.Icon(@size) {
  display: block;
  font-family: 'Font Awesome';
  font-weight: normal;
  // font-size: @big;
  // width: @iconSize;
  // height: @iconSize;
  // line-height: @iconSize;
  text-align: center;
}

// ============================================================
// Fonts
// ============================================================

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

@font-face {
  font-family: 'Font Awesome';
  src:url('fonts/font-awesome/fonts/fontawesome-webfont.eot');
  src:
    url('fonts/font-awesome/fonts/fontawesome-webfont.woff') format('woff'),
    url('fonts/font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'),
    url('fonts/font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'),
    url('fonts/font-awesome/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
    // url('fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  font-weight: normal;
  font-style: normal;
}

// ============================================================
// Base styles: opinionated defaults
// ============================================================

html {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
  color: @black;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

// ============================================================
// Browser Upgrade Prompt
// ============================================================

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// ============================================================
// General Rules
// ============================================================

body {
  // background: darken(@white, 5%);
  // background: @black;
} // body

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

a {
  text-decoration: none;
  color: inherit;
  .Transition;
  border-bottom: 2px solid @black;
  padding-bottom: 2px;
  &:hover {
    color: @red;
    border-bottom-color: @red;
  }
} // a

// ============================================================
// Main, page, primary
// ============================================================

main {
  max-width: @pageMaxWidth;
  margin: 0 auto;
  background: white;
}

#page {
  display: flex;
  flex-flow: row nowrap;
}

#primary {
  flex: 5 1;
}

// ============================================================
// Page Header
// ============================================================

.main-header-container {
  background: @red;
  z-index: 2;
}
#main-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: @pageMaxWidth;
  margin: 0 auto;
  color: @white;
}
.main-logo-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: @medium;
  .main-logo {
    margin-right: @medium;
    svg {
      width: auto;
      height: 32px;
    }
  } // .main-logo
  .main-title-container {
    display: none;
    #main-title {
      margin: 0;
      text-transform: uppercase;
      line-height: 1;
    }
    #main-description {
      margin: 0;
    }
  } // ,main-title-container
} // .main-logo-container

#main-menu {
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    & > li {
      margin: @medium;
      & > a {
        display: block;
        text-decoration: none;
        color: inherit;
        padding: @tiny 0;
        border-bottom: 2px solid transparent;
      }
      &.current-menu-item > a {
        border-color: @white;
      }
    }
  }
  &.sticky {
    background: @red;
  }
} // #main-menu

// ============================================================
// Entry
// ============================================================

.post {
  border-bottom: 1px solid @black;
  .cover-image {
    display: block;
    height: @coverImageHeight;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .entry-header {
    .wp-post-image {
      max-width: 100%;
      height: auto;
    }
    .entry-title {
      margin: @big 0;
      padding: 0 @big;
    }
  }
  .entry-content {
    margin: @big 0;
    padding: 0 @big;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .entry-footer {
    margin: @big 0;
    padding: 0 @big;
  }
}

// ============================================================
// Sections
// ============================================================

.section-container {
  section {
    max-width: @pageMaxWidth;
    margin: 0 auto;
    .section-title {
      margin: 1em @huge;
    }
    p {
      margin: 1em @huge;
    } // .section-title
  } // section
} // .section container

#predajne {
  .section-title-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    // border-bottom: 2px solid @black;
    .store-list {
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      padding: 0;
      margin: 0;
      & > li {
        &.ui-state-focus a {
          outline: none;
        }
        &.ui-tabs-active a h3 {
          // color: @red;
          font-weight: 700;
        }
        a {
          display: block;
          padding: @medium @big;
          border: none;
          h3 {
            font-weight: 400;
          }
        }
      }
    } // .store-list
  } // .section-title-container
} // #predajne

.info-container {
  display: flex;
  flex-flow: row wrap;
} // .info-container
.info-list-container {
  flex: 2 1;
  padding-bottom: @medium;
  // color: @white;
  // background: darken(@white, 5%);
} // .info-list-container
.info-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: left;
} // .info-list

aside.info {
  padding: @big @huge;
  // border-bottom: 1px solid @black;
  header {
    display: flex;
    flex-flow: row wrap;
    // justify-content: center;
    align-items: center;
    margin-bottom: @medium;
    .icon {
      // display: inline-block;
      color: @white;
      background: @red;
      // box-shadow: 0 0 0 2px @black;
      border-radius: 50%;
      // font-size: 0;
      margin-right: @medium;
      &:before {
        content: '\f129';
        display: block;
        font-family: 'Font Awesome';
        font-weight: normal;
        font-size: @big;
        width: @iconSize;
        height: @iconSize;
        line-height: @iconSize;
        text-align: center;
      }
    } // .icon
    h3 {
      margin: 0;
      line-height: @iconSize;
      font-weight: 700;
    } // h3
  } // header

  &#otvaracia-doba {
    .icon:before {
      // content: '\f017';
    }
  } // #otvaracia-doba
  .opening-hours-container {
  } // .opening-hours-container
  .opening-hours {
    display: inline-block;
    list-style: none;
    padding: 0;
    // margin: 0 @medium;
    li {
      // display: none;
      margin-bottom: 2px;
      &.today {
        display: block;
        padding: 2px 0;
        border-bottom: 2px solid;
        &.opened {
          color: @green;
          border-color: @green;
          .is-opened {
            // &:before {
            //   content: '\2713';
            //   margin-right: 2px;
            // }
          }
        }
        &.closed {
          color: @red;
          border-color: @red;
          // background-color: lighten(@red, 40%);
        }
        .is-opened {
          font-size: 80%;
        }
      } // today
      strong {
        display: inline-block;
        width: @huge;
      }
    } // li
  } // .opening-hours

  &#email {
    header .icon:before {
      // content: '\f003';
    }
  } // #email

  &#telefon {
    header .icon:before {
      // content: '\f095';
    }
  } // #telefon
  .phone-container {
    .phone-number-list {
      padding: 0;
      list-style: none;
    } // .phone-number-list
  } // .phone-container

} // aside.info

.map-container {
  position: relative;
  flex: 5 1;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
} // .map-container

#adresa {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  z-index: 1;
  bottom: 0;
  left: 0;
  // margin-left: -126px;
  background: @white;
  padding: @medium @big @medium @medium;
  margin: @medium;
  // border-top-left-radius: 32px;
  header {
    .icon {
      display: inline-block;
      color: @white;
      background: @red;
      // box-shadow: 0 0 0 2px @black;
      border-radius: 50%;
      // font-size: 0;
      &:before {
        content: '\f129';
        display: block;
        font-family: 'Font Awesome';
        font-weight: normal;
        font-size: @big;
        width: @iconSize;
        height: @iconSize;
        line-height: @iconSize;
        text-align: center;
      }
    } // .icon
  } // header
  .address-list {
    padding: 0;
    margin: 0 0 0 1em;
    list-style: none;
    text-align: left;
    // text-shadow: 0 0 0 2px @white;
    .name {
      font-weight: 700;
    }
    .country {
      text-transform: uppercase;
    }
  }
} // #adresa
.map {
  width: 100%;
  // height: 100%;
  // height: @mapHeight;
} // #map

// ============================================================
// Sidebar
// ============================================================

#sidebar {
  flex: 2 1;
  background: darken(@white, 5%);
}

aside.widget {
  margin: @huge 0;
  padding: 0 @huge;
}

// ============================================================
// Footer
// ============================================================

#main-footer {
  text-align: center;
  padding: @big;
}

// ============================================================
// Helper classes
// ============================================================

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}