/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@font-face {
  font-family: 'ecoicon';
  src: url('fonts/ecoicons/ecoicon.eot');
  src: url('fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'), url('fonts/ecoicons/ecoicon.woff') format('woff'), url('fonts/ecoicons/ecoicon.ttf') format('truetype'), url('fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
  color: #333333;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 2px solid #333333;
  padding-bottom: 2px;
}
a:hover {
  color: #e74c3c;
  border-bottom-color: #e74c3c;
}
#page-header {
  color: #ffffff;
  background: #e74c3c;
}
#page-header .top-container {
  display: flex;
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#page-header .top-container svg {
  margin-right: 20px;
}
#page-header .top-container .page-title-container #page-title {
  margin: 0;
  text-transform: uppercase;
  line-height: 1;
}
#page-header .top-container .page-title-container #page-description {
  margin: 0;
}
#page-header #main-menu {
  z-index: 2;
}
#page-header #main-menu ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
#page-header #main-menu ul > li {
  margin: 10px;
}
#page-header #main-menu ul > li > a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 4px 0;
  border-bottom: 2px solid transparent;
}
#page-header #main-menu ul > li.current-menu-item > a {
  border-color: #ffffff;
}
#page-header #main-menu.sticky {
  background: #e74c3c;
}
.post {
  border-bottom: 1px solid #333333;
}
.post .cover-image {
  display: block;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.post .entry-header .wp-post-image {
  max-width: 100%;
  height: auto;
}
.post .entry-header .entry-title {
  margin: 20px 0;
  padding: 0 20px;
}
.post .entry-content {
  margin: 20px 0;
  padding: 0 20px;
}
.post .entry-content img {
  max-width: 100%;
  height: auto;
}
.post .entry-footer {
  margin: 20px 0;
  padding: 0 20px;
}
.section-container {
  max-width: 1280px;
  margin: 0 auto;
}
.section-container .section-title {
  margin: 1em 20px;
}
.section-container p {
  margin: 1em 20px;
}
#predajne .store-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
}
#predajne .store-list > li.ui-tabs-active a {
  font-weight: 700;
}
#predajne .store-list > li a {
  display: block;
  padding: 10px 20px;
  border: none;
}
.info-container {
  display: flex;
  flex-flow: row wrap;
}
.info-container .info-list-container .info-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
aside.info {
  padding: 20px 30px;
}
aside.info header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 10px;
}
aside.info header .icon {
  color: #ffffff;
  background: #e74c3c;
  border-radius: 50%;
  margin-right: 10px;
}
aside.info header .icon:before {
  display: block;
  font-family: 'ecoicon';
  font-weight: normal;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
aside.info header h3 {
  margin: 0;
  line-height: 40px;
  font-weight: 700;
}
aside.info#otvaracia-doba .icon:before {
  content: '\e004';
}
aside.info#otvaracia-doba .opening-hours-container .opening-hours {
  list-style: none;
  padding: 0;
}
aside.info#otvaracia-doba .opening-hours-container .opening-hours li {
  margin-bottom: 2px;
}
aside.info#otvaracia-doba .opening-hours-container .opening-hours li.today {
  display: block;
  padding: 2px 0;
  border-bottom: 2px solid;
}
aside.info#otvaracia-doba .opening-hours-container .opening-hours li.today.opened {
  color: #2eb85c;
  border-color: #2eb85c;
}
aside.info#otvaracia-doba .opening-hours-container .opening-hours li.today.closed {
  color: #e74c3c;
  border-color: #e74c3c;
}
aside.info#otvaracia-doba .opening-hours-container .opening-hours li.today .is-opened {
  font-size: 80%;
}
aside.info#otvaracia-doba .opening-hours-container .opening-hours li strong {
  display: inline-block;
  width: 30px;
}
aside.info#email header .icon:before {
  content: '\e00d';
}
aside.info#telefon header .icon:before {
  content: '\e009';
}
aside.info#telefon .phone-container .phone-number-list {
  padding: 0;
  list-style: none;
}
.map-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
.map-container #adresa {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  z-index: 1;
  bottom: 0;
  left: 0;
  background: #ffffff;
  padding: 10px 20px 10px 10px;
  margin: 10px;
}
.map-container #adresa header .icon {
  display: inline-block;
  color: #ffffff;
  background: #e74c3c;
  border-radius: 50%;
}
.map-container #adresa header .icon:before {
  content: '\e00e';
  display: block;
  font-family: 'ecoicon';
  font-weight: normal;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.map-container #adresa .address-list {
  padding: 0;
  margin: 0 0 0 1em;
  list-style: none;
  text-align: left;
}
.map-container #adresa .address-list .name {
  font-weight: 700;
}
.map-container #adresa .address-list .country {
  text-transform: uppercase;
}
.map-container .map {
  width: 100%;
}
#page-footer {
  text-align: center;
  padding: 20px;
}
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
