/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
html {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
  color: rgba(51, 51, 51, 0.86);
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  overflow-x: hidden;
}
h1 {
  font-size: 2em;
  margin: 1em 0 0.5em 0;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
p {
  margin: 1em 0;
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  padding-bottom: 1px;
}
a:hover {
  color: #E74C3C;
  border-bottom-color: #E74C3C;
}
button {
  background: none;
  border: none;
}
#main-header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  height: 40px;
  color: rgba(255, 255, 255, 0.86);
  background-color: #E74C3C;
}
#main-header button {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.86);
  width: 40px;
  height: 40px;
  font-size: 0;
}
#main-header .drawer-container {
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#main-header .drawer-container #drawer-toggle span {
  display: block;
  position: absolute;
  top: 19px;
  left: 10px;
  right: 10px;
  height: 2px;
  background: rgba(255, 255, 255, 0.86);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#main-header .drawer-container #drawer-toggle span:before,
#main-header .drawer-container #drawer-toggle span:after {
  display: block;
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.86);
  content: '';
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#main-header .drawer-container #drawer-toggle span:before {
  top: -6px;
  transform-origin: top right;
}
#main-header .drawer-container #drawer-toggle span:after {
  bottom: -6px;
  transform-origin: bottom right;
}
#main-header .drawer-container #drawer-toggle.clicked span {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#main-header .drawer-container #drawer-toggle.clicked span:before,
#main-header .drawer-container #drawer-toggle.clicked span:after {
  width: 50%;
}
#main-header .drawer-container #drawer-toggle.clicked span:before {
  transform: translateY(6px) rotate(45deg);
}
#main-header .drawer-container #drawer-toggle.clicked span:after {
  transform: translateY(-6px) rotate(-45deg);
}
#main-header .drawer-container #drawer-toggle:hover span {
  background: #FFFFFF;
}
#main-header .drawer-container #drawer-toggle:hover span:before,
#main-header .drawer-container #drawer-toggle:hover span:after {
  background: #FFFFFF;
}
#main-header .drawer-container #drawer {
  position: fixed;
  top: 40px;
  left: -280px;
  width: 280px;
  background: #333333;
  bottom: 0;
  z-index: 1;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow-y: scroll;
}
#main-header .drawer-container #drawer.visible {
  left: 0;
  visibility: visible;
}
#main-header .drawer-container #drawer #main-menu .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#main-header .drawer-container #drawer #main-menu .menu > .menu-item > a {
  display: block;
  padding: 10px 20px;
  border: none;
}
#main-header .drawer-container #drawer #main-menu .menu > .menu-item > a:hover {
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.06);
}
#main-header .drawer-container .drawer-overlay {
  display: none;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.7);
  cursor: pointer;
}
#main-header .main-logo-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 10px;
  border: none;
}
#main-header .main-logo-container .main-logo svg {
  display: block;
  width: auto;
  height: 20px;
}
#main-header .main-logo-container .main-logo svg path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
  fill: rgba(255, 255, 255, 0.86);
}
#main-header .main-logo-container .main-title {
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 0 6px;
  text-transform: lowercase;
}
#main-header .main-logo-container:hover {
  color: #FFFFFF;
}
#main-header .main-logo-container:hover .main-logo svg path {
  fill: #FFFFFF;
}
#main-header .search-form-container {
  -webkit-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row-reverse wrap;
  -ms-flex-flow: row-reverse wrap;
  flex-flow: row-reverse wrap;
  overflow-x: hidden;
}
#main-header .search-form-container #search-form-toggle {
  z-index: 1;
}
#main-header .search-form-container #search-form-toggle:before,
#main-header .search-form-container #search-form-toggle:after {
  display: block;
  position: absolute;
  content: '';
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#main-header .search-form-container #search-form-toggle:before {
  top: 10px;
  left: 10px;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.86);
  border-radius: 50%;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#main-header .search-form-container #search-form-toggle:after {
  right: 10px;
  bottom: 10px;
  width: 10px;
  border: 1px solid rgba(255, 255, 255, 0.86);
  transform-origin: right;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#main-header .search-form-container #search-form-toggle.clicked:before,
#main-header .search-form-container #search-form-toggle.clicked:after {
  width: 20px;
}
#main-header .search-form-container #search-form-toggle.clicked:before {
  height: 0;
  border-radius: 0;
  border-width: 1px;
  top: 19px;
}
#main-header .search-form-container #search-form-toggle.clicked:after {
  transform-origin: center;
  bottom: 19px;
}
#main-header .search-form-container #search-form-toggle:hover:before,
#main-header .search-form-container #search-form-toggle:hover:after {
  border-color: #FFFFFF;
}
#main-header .search-form-container .search-form {
  position: absolute;
  left: 100%;
  right: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#main-header .search-form-container .search-form input[type=search] {
  border: none;
  width: 100%;
  box-sizing: border-box;
  line-height: 40px;
  padding: 0 0 0 10px;
  font-size: 1.25em;
  background: #E74C3C;
}
#main-header .search-form-container .search-form input[type=submit] {
  display: none;
}
#main-header .search-form-container .search-form.visible {
  left: 40px;
}
.post .entry-header .cover-image {
  display: block;
  height: 200px;
  background-size: cover;
  background-position: center;
}
.post .entry-header .entry-title {
  padding: 0 20px;
}
.post .entry-content {
  padding: 0 20px;
}
.post .entry-footer {
  padding: 0 20px;
  background: #EEEEEE;
}
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
